<% provide :title, @store.name %>
<div class="ftp">
  <% if !current_user.nil? %>
      <p>Hi</p>
      <p><%= link_to '我的账号', edit_user_path(current_user) %></p>
      <p><%= link_to '退出', signout_path, method: 'delete' %></p>
    <% else %>
      <p><%= link_to '登录', signin_path %></p>
      <p><%= link_to '注册', signup_path %></p>
  <% end %>
     <img class="but" id="shopc" src="/assets/购物车.jpg"/>
    <img class="but" id="shopr" src="/assets/交易记录.jpg"/>
    <img class="but" id="messg" src="/assets/消息.jpg">
  </div>

  <div class="fsp"></div>
  <div class="bg">
    <img class="bg" src="/assets/背景.jpg">
  </div>
  <div class="logo">
    <img class="logo" src="/assets/logo.jpg">
    <p class="logo"><%= @store.name %></p><br/>
    <p class="clean logo">店铺标语，小介绍</p>
  </div>

  <%= render 'collect_form' %>

  <div id="picplayer" class="picplayer"> 
    <script type="text/javascript">
    var p = $('#picplayer'); 
        var pics1 = [{url:'/assets/s1.jpg',link:'#',time:5000},
               {url:'/assets/<%= Product.first.main_img %>',link:'#',time:5000},
               {url:'/assets/s3.jpg',link:'#',time:5000},
               {url:'/assets/s4.jpg',link:'#',time:5000}]; 
        initPicPlayer(pics1,p.css('width').split('px')[0],p.css('height').split('px')[0]); </script>
  </div>
  
  <%= render @categories %>

  <%= render 'footer' %>