<% provide :title, '修改' %>
<div class="ftp">
  <p><%= link_to '返回', root_path %></p>
</div>
<div class="fsp"></div>
<div class="pure-form" >
  <%= form_for @user do |f| %>
      <%= render 'shared/error_messages', object: current_user %> 
    <div class="headsign">
      <p class="sign">我的信息(请仔细填写收货地址)</p>
    </div>

    <%= f.label '姓名:', class:'sign' %>
    <%= f.text_field :name, class:'sign', required: true %>
    <%= f.label '手机:', class:'sign' %>
    <%= f.phone_field :phone, class:'sign', required: true %>
    <%= f.label '省份:', class:'sign' %>
    <%= f.text_field :province, class:'sign', required: true %>
    <%= f.label '城市:', class:'sign' %>
    <%= f.text_field :city, class:'sign', required: true %>
    <%= f.label '地址:', class:'sign' %>
    <%= f.text_field :address, class:'sign', required: true %>
    
    <%= f.button '保存', class: 'pure-button pure-button-primary sign' %>
  <% end %>
</div>
