<div class="display">
  <div id="sort1" class="head">
    <p class="guide">
      --<%= category.name %>
    </p>
    <%= link_to image_tag('更多.jpg', class: 'guide'), category_path(category) %>
    <p class="clear"></p>
  </div>

  <div class="pure-g">
    <% if category.products.count >
    1 %>
    <%=  link_to image_tag(category.products.first.main_img, class: 'display pure-u-2-5' ), product_path(category.products.first) %>
    <%=  link_to image_tag(category.products.second.main_img, class: 'display pure-u-2-5 '), '#' %>
    <% else %>
    <%=  link_to image_tag(category.products.first.main_img, class: 'display pure-u-2-5 '), '#' %>
    <% end %>
  </div>
</div>