<div id="inf" class="chsh">
  <p class="f">详细介绍</p>
  <%= image_tag 'down.jpg', id: 'infi' %>
  <p class="clear"></p>
</div>

<div id="infb" class="chob">
  <% @product.properties.in_groups(2) do |property| %>
    <p>
      <%= property[0].name %>
      :
      <%= property[0].value %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if !property[1].nil? %>
        <%= property[1].try(:name) %>
        :
        <%= property[1].try(:value) %>
      <% end %></p>
    <% end %>

  <% @product.details.each do |detail| %>
    <%= image_tag detail.img %>
    <p><%= detail.text %></p>
  <% end %>
</div>