<div class="ftp">
  <p><%= link_to '回店铺', root_path %></p>
  <%= link_to image_tag('购物车.jpg'), '#', class: 'but' %>
</div>
<div class="fsp"></div>
<div id="picplayer" class="picplayer">
  <script type="text/javascript">
    var p = $('#picplayer'); 
        var pics1 = [
                  <% @product.imglists.each do |imglist| %>
                    {url:'/assets/<%= imglist.img %>',time:5000},
                    <% end %>
                  ]; 
        initPicPlayer(pics1,p.css('width').split('px')[0],p.css('height').split('px')[0]); 
  </script>
</div>
<div class="ins">
  <p class="ins">商品名称: <%= @product.name %></p>
  <%= render 'follow_form' %>

  <div class="pri">
    <label class="sup">价格:</label>
    <b class="sup">
      <% if @prices.max == @prices.min %>
        <%= @prices.min %>
      <% else %>
        <%= @prices.min %>-<%= @prices.max %> 
      <% end %>
    </b>
  
    <span class="sto">
      <label>库存:</label>
      <html><%= @quantity %></html>
    </span><br/>
    <% if @oldprices.any? %>
      <label class="old">原价：</label>
      <strike class="old">
        <% if @oldprices.max == @oldprices.min %>
            <%= @oldprices.min %>
        <% else %>
            <%= @oldprices.min %>-<%= @oldprices.max %> 
        <% end %>
      </strike>
    <% end %>
  </div>
</div>

  <%= render 'show_skulist' %>

  <div class="chs">

    <%= render 'show_detail' %>

    <div class="evab">
      <p>评价账号</p>
      <p>评价内容...............................................</p>
      <tt>2014-12-12 分类一</tt>
    </div>
  </div>
